@media (min-width: 992px) {
	.menu ul{
		display: block !important;
	}
}
@media (max-width: 991px) {
	.logo {
		float: left;
	}
	.mobile-menu {
		display: block;
		float: right;
		color: #000;
		font-size: 20px;
		border: 2px solid #000;
		line-height: 1;
		padding: 5px 8px;
		cursor: pointer;
	}
	.menu {
		text-align: left;
	}
	.menu ul {
		padding-top: 15px;
		display: none;
	}
	.menu ul li {
		display: block;
	}
	.menu ul li a {
		padding: 8px 15px;
		font-weight: 500;
		width: 100%;
	}
	.hero-img {
		margin-top: 40px;
	}
	.hero-img img {
		width: 70%;
	}
	.about-img {
		text-align: center;
	}
	.about-img::after {
		width: 80%;
		margin: 0 auto;
		right: 0;
	}
	.about-img img {
		width: 80%;
	}
	.codepopular-about-section, .codepopular-testimonial-area, .resume-area, .codepopular-portfolio-section, .contact-area {
		padding: 80px 0px;
	}
	.services-area, .codefolio-blog-area{
		padding-top: 80px;
		padding-bottom: 50px;
	}
	.about-info {
		margin-top: 30px;
	}
	.about-info h2 {
		margin: 5px 0px;
	}
 
}
@media (max-width: 767px) {
	.hero-area {
		padding-top: 100px;
		padding-bottom: 80px;
	}
	.codepopular-about-section, .codepopular-testimonial-area, .resume-area, .codepopular-portfolio-section, .contact-area {
		padding: 70px 0px;
	}
	.services-area, .codefolio-blog-area{
		padding-top: 70px;
		padding-bottom: 40px;
	}
	.about-info h2 {
		font-size: 26px;
	}
 
}
@media (max-width: 676px) {
	.hero-img img {
		width: 80%;
	}
	.hero-area {
		padding-top: 70px;
		padding-bottom: 50px;
	}
	.codepopular-about-section, .codepopular-testimonial-area, .resume-area, .codepopular-portfolio-section, .contact-area {
		padding: 50px 0px;
	}
	.services-area, .codefolio-blog-area{
		padding-top: 50px;
		padding-bottom: 20px;
	}
 
}
@media (max-width: 576px) {
	.hero-content h2.title {
		font-size: 35px;
	}
	.hero-content h2 {
		font-size: 35px;
	}
	.hero-content p {
		font-size: 16px;
		line-height: 24px;
	}
	.button {
		padding: 10px 24px;
	}
	.services-area, .codefolio-blog-area{
		padding-top: 30px;
		padding-bottom: 0px;
	}
	.about-info h2 {
		font-size: 22px;
	}
	.about-info p {
		font-size: 16px;
		line-height: 26px;
		margin-bottom: 5px;
	}
	.resume-item {
		margin-bottom: 40px;
	}
	.testimonial-full {
		padding: 40px 10px 40px;
	}
	.testimonial-single {
		padding: 0px 20px;
	}
 
}
@media (max-width: 450px) {
	.service-box {
		padding: 35px 20px;
	}
	.resume-item {
		margin-bottom: 30px;
	}
	.section-headding {
		margin-bottom: 30px;
	}
	.portfolio-list ul li {
		margin: 4px 5px;
		font-size: 14px;
	}
	.contact-form {
		padding: 30px 10px;
	}
 
}